#mai-navbar {
	border-radius: 0px;
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

#mai-carousel {
  height: 500px;
}

.mai-caption {
  z-index: 10;
  top: 22vh;
  text-shadow: none;
}

.mai-caption p {
	font-size: 20px;
}

.mai-carousel-items {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.shade {
	height: 500px;
    background-color: #000;
    opacity: 0.5;
}

#hero-1 {
	background-image: url("../images/sky-hero.jpg");
}
#hero-2 {
	background-image: url("../images/orbs-hero.jpg");
}
#hero-3 {
	background-image: url("../images/free-hero.jpg");
}

#orbs-section {
	margin-top: 60px;
	margin-bottom: 60px;
}

#orbs-section .left {
	border-right: 1px solid #c9c9c9;
}
#orbs-section .right {
	border-left: 0px solid #777;
}



